# Ignorar o ambiente virtual
venv

# Ignorar variáveis de ambiente sensíveis
.env

# Ignorar arquivos temporários do Python
__pycache__
.pyc
.pyo
.pyd

# Ignorar configurações de IDEs
.vscode
.idea

# Ignorar arquivos de logs e temporários
.log
.tmp

# Ignorar o diretório do Railway (se usar config local)
railway

# Ignorar arquivos do sistema
.DS_Store
Thumbs.db
